/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fdfdff;
  opacity: 0.8;
  background-image: radial-gradient(#626262 0.5px, #fdfdff 0.5px);
  background-size: 10px 10px;
}
